@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h2>Welcome to your</h2>
  <h3>Bakery Order Manager</h3>
  <hr>
</div>
<a href='/vendors/new'>Add a New Vendor</a>
<br>
<a href='/vendors'>Vendor List</a>