@{
  Layout = "_Layout";
}
  <h3>Welcome to Your</h3>
  <h1>Bakery Order Manager</h1>
  <hr>
<a href='/vendors/new'>Add a New Vendor</a>
<hr>
<img src='~/img/bread.jpg' width="280" height="380" alt="basket of bread"/>
<hr>
<a href='/vendors'>Vendor List</a>