  @* @{
  Layout = "_Layout";รง
}

<h2>Order has been removed</h2>
<hr>

<p><a href="/orders">Back to Orders</a></p>
<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a New Order</a></p>
<p><a href='/vendors'>Return to Vendor List</a></p>
<p><a href='/'>Return to Main Page</a></p> *@