
<h1>List of Orders by Date: </h1>

<h2>@Model["order"].Date</h2>
<h3>Name: @Model["vendor"].VendorName</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all categories</a>