@{
  Layout = "_Layout";
}

<h2>Order for @Model["vendor"].VendorName: </h2>

<h3>@Model["order"].Date</h3>
<h4>Loaves: @Model["order"].BreadCount - Pastries:@Model["order"].PastryCount - Total: $@Model["order"].Total</h4>
<hr>
<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add Another Order</a></p>
<p><a href='/vendors'>View all Vendors</a></p>